extends layout

block content

  .row
    .col-lg-12.col-sm-12
      h1.title About
  
  .row
    .col-lg-12.col-sm-12.section

      p Welcome to this mysterious little place that spawned in some dark recess of my strange mind. To be honest I don't understand how I find anything down there. It's a horrible place full of dark, dark things--
      p Anyways, thanks for dropping in, now goodbye!



  // end row
  // end container