extends layout

block content

    .row
        .col-lg-12.col-sm-12
            h2.title Are you sure you're allowed here?
            br
    //end row

    .row
        .col-lg-4.col-sm-4.offset-4
            .card-group
                .card.text-center.icard
                    .card-block
                        img.card-img-top(src='https://image.flaticon.com/icons/svg/25/25231.svg', height='80', width='80', alt='Github icon')
                    .card-block
                        h4.card-title Github
                        p.card-text
                        | Here is a link to my Github
                    .card-block
                        a.card-link(href='https://github.com/Hijaxxed') Hijaxxed


    //end row