extends layout

block content

  .row
    .col-lg-12.col-sm-12
      h1.title Welcome
      hr
      br
  //end row

  .row
    .col-lg-12.col-sm-12
      p Welcome to #{title}. 
      p The purpose of this website is exactly as the name hints; it is a little piece of the internet to call my own and tinker with whatever I may like. This usually comes in the form of playing with the design of the site, and generally just teaching myself about the wide world of web development.
  //end row

