extends layout

block content

  .row
    .col-lg-12.col-sm-12
      h1.title Welcome
  //end row

  .row
    .col-lg-12.col-sm-12
      p Welcome to #{title}. 
      p The purpose of this website is exactly as the name hints; it is a little piece of the internet to call my own and tinker with whatever I may like. This usually comes in the form of playing with the design of the site, and generally just teaching myself about the wide world of web development.
  //end row

  br
  hr
  br

  .row 
    .col-lg-6.col-sm-6.text-center
      div.icard
        h3 Daily Dose of XKCD
        br
        //h4 #{scrapedData.title}


        p NOT WORKING
        //img(:src= "http://#{imgURL}")
        
      

  //end row