doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='google-site-verification', content='LfkXa2NKUc2KL-bFbW8vbDXGGS5ACl3k7zdb8ucgz3g')

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Karma' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    title Lethargic Bliss

  body
    .containter
      .header
        .row
          .col-lg-12.col-sm-12
            .header-banner
              a(href="/").logo
              h1 #{title}
        //end row

        .row
          .col-lg-12.col-sm-12


            ul#topnav   
              li
                  a(href='/') Home
              li
                  a(href='/ph') Placeholder
              li
                  a(href='/blog') Blog
              li
                  a(href='/about') About


              if loggedInUser

                li#account
                  a(href='/signOut') Sign Out
                li#account
                  a(href='/accountDetails') Account
                li#account                                                            
                  a(href='/database') Admin

              else
                li#account
                  a(href='/login') Log In
            //  li#account
                  a(href='/signUp') Register



        // end row

    div.content
      block content


script.
  var header = document.getElementById("topnav");
  window.onscroll = function(){
      if (window.pageYOffset >= 160) {
   header.classList.add("sticky");
  } else {
  header.classList.remove("sticky");
  }
  }



