extends layout

block content

    .row
        .col-lg-4.col-sm-12.offset-4

            br
            h2.text-center Add new person to the database
            br

            form.form(method='post' action='/newUser')
                div
                    |   Username:
                    br
                    input(type='text', name='userName')
                    br
                    |   Email:
                    br
                    input(type='email', name='email')
                    br
                    |   Password:
                    br
                    input(type='password', name='password')
                    br
                    |   Age:
                    br
                    input(type='number', name='age')
                    br
                    |   Description:
                    br
                    input(type='text', name='description')
                    br
                    br
                    input(type='submit', value='Submit')