body{
  font-family: Arial;
  font-size: 16px;
  color:rgb(0, 0, 0);
  /*background: linear-gradient(to right, rgb(71, 182, 216), rgb(18, 78, 112));*/
  overflow-x: hidden;
  box-sizing: content-box;
  margin:0;
}

h1 {
  font-size: 50px;
}


/* Header */

.header-banner {    
  /* background:linear-gradient(to right, rgb(71, 182, 216), rgb(18, 78, 112)); */
  background-image: url('http://efekt-dieta.info/cdn/images/street-art-wallpaper/street-art-wallpaper-20.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
  font-size: 1.5em;
  padding: 30px;
  height: 270px;
  width:100%;
}                                                                         /* Note: BG Image reveals white when rescale the whole way */

.header h1 {
  position: absolute;
  font-weight: bold;
  font-size: 72px;
  margin-top: 50px; 
  margin-left: 30px;
  color: #fff;
}

/* Navbar */

#topnav {
  list-style-type: none;
  margin: 0;
  padding: 10px 16px;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

#topnav li {
  margin: 0 auto;
  display: inline-block;
}

#topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

#topnav li a:hover {
  background-color: rgb(37, 37, 37);
}

.content {
  margin-left:3%;
  margin-top:2%;
}
.icard {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 50;
}
/* MISC */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 20px;
}






